:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.chess {
  margin: 5rem;
}

.board {
  display: flex;
  flex-direction: column;
}

.rank {
  display: flex;
}

.piece {
  width: 32px;
  height: 32px;
  background-color: green;
}

.rank:nth-of-type(even) > .piece:nth-of-type(even) {
  background-color: darkgreen;
}

.rank:nth-of-type(odd) > .piece:nth-of-type(odd) {
  background-color: darkgreen;
}

.piece > img {
  width: 100%;
  height: 100%;
}
